<p-card class="user-select-none" styleClass="h-100">
    <div class="d-flex flex-column">

        <span>Final PDF rotation :</span>
        @for (rotateOption of rotateOperations; track $index) {
            <p-radioButton [value]="rotateOption" [label]="rotateOption" [(ngModel)]="this.currentRotateOption"></p-radioButton>
        }
        <p-selectButton [(ngModel)]="currentColorOption" [options]="colorOptions"></p-selectButton>

        <p-divider></p-divider>
        
        <span>Pages to include</span>
        <input pInputText>

        <p-divider></p-divider>

        <span>Apply operations to :</span>
        @for (applyMode of selectionsApplyTo; track $index) {
            <p-radioButton [value]="applyMode" [label]="applyMode" [(ngModel)]="this.currentSelectionApplyTo"></p-radioButton>
        }
        <div class="py-1 d-flex flex-column">
            <span>Exceptions :</span>
            <input pInputText>
        </div>
    </div>
</p-card>